<div class="docs-header" id="content">
  <div class="container clearfix ">
    <h1>ระบบชั่งน้ำหนัก</h1>

  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-14 col-sm-6 col-md-9">

      <div class=" clearfix">
        <div>
          <button type="button" class="btn btn-primary ">
          <span class="glyphicon glyphicon-save " aria-hidden="true"></span> บันทึกรถชั่งเข้า</button>

          <button type="button" class="btn btn-default  pull-right" aria-label="Left Align">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>
        </div>
        <br>

        <div class="card">
          <div class="card-block">
            <h4 class="card-title ">{{selectCar.carId}}</h4>
            <p class="card-text">{{selectCar.product}}</p>
            
            <a href="#" class="card-link">Go somewhere</a>
          </div>
        </div>
        
        <weighting-in-form></weighting-in-form>


      </div>
    </div>
    <!--end column-->

    <!-- Side right-->
    <div class="col-xs-14 col-sm-6 col-md-3">
      <div class="page-header" style="margin: 0px 0 18px; ">
        <h4>List of Car-In <span class="badge">{{weightInLenth}}</span></h4>
      </div>

      <!--search bar-->
      <div class="form-group  has-feedback">
        <input type="text" class="form-control " placeholder="ค้นหาทะเบียนรถ">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>

      <!--<my-scrollbar>-->
      <scrollbar class=" list-weight-in " scrollbarHieght="400px" >
        <div class="list-group">
          <a class="list-group-item" style="cursor: pointer;" 
            *ngFor="let weightIn of listWeightIn"
            (click)="onSelect(weightIn)"
            >
            <span class="badge">เหล็ก</span>
            <p class="list-group-item-heading">ทะเบียน: {{weightIn.carId}}</p>
          </a>

        </div>
      </scrollbar>
      <!--</my-scrollbar>-->

    </div>
    <!--end column-->
  </div>
</div>
