<div class="docs-header" id="content">
  <div class="container clearfix ">
    <h1>ระบบชั่งน้ำหนัก</h1>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-14 col-sm-6 col-md-9">


        <!--menu bar-->
        <div class="row">
          <div class="col-md-12">

            <button type="button" 
                    class="btn btn-primary" 
                    [class.hidden]="createWeightIn" 
                    (click)="showWeightingInForm()" >
            <span class="glyphicon glyphicon-save " aria-hidden="true"></span> ชั่งน้ำหนักรถเข้า</button>
            
            
            <button type="button" class="btn btn-default  pull-right" aria-label="Left Align">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>
          </div>
        </div>      
        <!--end of menu bar-->
        <br>
          <div class="row" >
          <div class="col-md-12">

            <!-- Show Weighting-OUT Form -->
            <weighting-out [car]="selectCar" *ngIf="showWeightOut"></weighting-out>
          
          </div>
        </div>

      <!-- weighting-IN Form -->
      <weighting-in-form *ngIf="createWeightIn" (save)="onSaveWeightingIn($event)" (cancel)="onCancelWeightingIn()" ></weighting-in-form>

    </div>
    <!--end column-->

    <!-- Side right-->
    <div class="col-xs-14 col-sm-6 col-md-3">
      <!-- Weighting-In List -->
      <weighting-in (select)="selectWeightingIn($event)"></weighting-in>
      <!-- End of Weighting-In -->

    </div>
    <!--end column-->
  </div>
</div>