
<form >

    <div class="card">
        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>     
                <!--<span class="caret"></span>-->
            </button>

            <h3 >บันทึกน้ำหนักรถออก</h3>
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-md-9">
                    <!-- row 1 -->
                    <div class="form-group  row">

                        <div class="col-md-6">
                            <label for="carId">รถชั่งเข้า</label>
                            <input type="text" class="form-control" 
                                    id="carId" 
                                    required 
                                    name="carId"                               
                                    placeholder="เลขทะเบียน..."
                                    disabled
                                    value="{{car.carId}}"  
                                    >
                            <!--<ul  [ngStyle]="{'color': 'red'}"
                                *ngIf="weightingInForm.controls.carId.dirty && !weightingInForm.controls.carId.valid">
                                <li *ngIf="weightingInForm.controls.carId.errors.required ">
                                    กรุณาใส่ทะเบียนรถ...
                                </li>
                                <li *ngIf="weightingInForm.controls.carId.errors.minlength" >
                                    กรุณาใส่เลขทะเบียนตั้งแต่ {{weightingInForm.controls.carId.errors.minlength.requiredLength}} จำนวน
                                </li>
                                <li *ngIf="weightingInForm.controls.carId.errors.formValidator" >
                                    ห้ามมีช่องว่าง
                                </li>
                            </ul>        -->
                            
                        </div>

                        <!-- div detail -->
                        <div [ngStyle]="{'margin-top': '20px'}">

                            <!-- If true value-->
                            <!--<div class="card col-md-6" *ngIf="!weightingInForm.controls.carId.errors ">
                                <div class="media">
                                    <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                        <h4 class="media-heading">กอ-9555</h4>
                                        ประเภทรถ: เก๋ง
                                    </div>
                                    <div class="media-right" [ngStyle]="{'padding': '20px 5px'}">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                    <!-- end row 1 -->
                    <!-- row 2 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customerId">ลูกค้า</label>
                            <input type="text" class="form-control" 
                                    id="customerId" 
                                    name="customerId" 
                                    placeholder="รหัสลูกค้า..." 
                                    disabled
                                    value="{{car.customerId}}">
                        </div>

                        <div [ngStyle]="{'margin-top': '25px'}">
                          
                        </div>
                    </div>
                    <!-- end row 2 -->
                    <!-- row 3 Product ID-->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="product">สินค้า</label>
                            <input type="text" class="form-control" 
                                    id="customerId" 
                                    name="customerId" 
                                    placeholder="รหัสลูกค้า..." 
                                    disabled
                                    value="{{car.product}}">

                        </div>

                        <div class="col-md-6">

                        </div>
                        <!-- end of col-md-6 -->
                    </div>
                    <!-- end of row 3: Product ID-->
                </div>

                <!-- weight-->
                <div class="col-md-3">
                    <label class="control-label pull-right" for="weight">น้ำหนักเข้า</label>
                    <div class="form-group has-error ">
                        <input type="text" class="form-control input-lg" style="text-align: right;font-size: 35px; font-weight: bold;"  
                                id="weight" 
                                name="weight"
                                disabled
                                required                      
                             
                            >
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback" style="top:25px"></span>-->
                    </div>

                </div>
                <!-- end weight-->
            </div>

            
 <!--// TODO: Remove this when we're done-->
            <!--<pre>Form value: <br>{{weightingInForm.value | json}}</pre>-->
        
        </div>


        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <!--Summut button-->
                        <button type="button" class="btn btn-primary" type="submit" >
                        <!--<button type="button" class="btn btn-primary" type="submit">-->
                        <span class="glyphicon glyphicon-save " aria-hidden="true"></span> บันทึกรถชั่งเข้า</button>

                        <button type="button" class="btn btn-error " (click)="onCancel()">
                        ยกเลิก</button>
                    </div>
                </div>

            </div>

        </div>


    </div>
</form>

