.content{
    border-right-style: solid;
    border-width: 0.25ex;
}

.input-x{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom:  2px solid red;
}