
.clickable {
    cursor: pointer;
}

.thumbnail {
    border-radius: 100%;
}
.avatar{
    width:64px;
    height:64px;
    /*border-radius: 100%;*/
}


.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card-img-top >img {
    vertical-align: middle;
}

.card-img-bottom {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.card-img-bottom >img {
    vertical-align: middle;
}

.card-block {
    padding: 2.25rem;
}
div.card-block {
    display: block;
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,.125);
    
}
.card-header > h3 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
font-size: 1.75rem;
}

.card-footer {
    padding: .75rem 1.25rem;
    /*background-color: #f5f5f5;*/
    border-top: 1px solid rgba(0,0,0,.125);
    
}

.card-title {
    margin-bottom: .75rem;
}

h4 .card-title{
    margin-top: 0px;
    font-size: 1.75rem;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}
.h6, h6 {
    font-size: 1rem;
}

.text-muted {
    color: #818a91!important;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-text >p {
    margin: 0 0 10.5px;
}

.card-text:last-child {
    margin-bottom: 0;
}