<form action="">
    <div class="card">

        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
        <!--        <span aria-hidden="true">&times;</span>     -->
                <span class="caret"></span>
            </button>

            <h3>บันทึกน้ำหนักรถเข้า</h3>
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="carId">รถเข้าชั่ง</label>
                            <input type="text" class="form-control" id="firstname" placeholder="เลขทะเบียน">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="carId">ลูกค้า</label>
                            <input type="text" class="form-control" id="xx" placeholder="รหัสลูกค้า">


                        </div>



                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <!--<div class="form-group">
                                <label for="product">Product</label>
                                <input type="text" class="form-control" id="product">
                            </div>-->
                            <label for="product">Product</label>
                            <div class="input-group">

                                <input type="text" class="form-control" aria-label="...">
                                <div class="input-group-btn">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->


                            <h4 class="card-title">
                                คำแนะนำ
                            </h4>
                            <p class="text-muted">กรุณาใส่ข้อมูลให้ครบถ้วน</p>
                            <!--<p class="text-primary">...</p>
                            <p class="text-success">...</p>
                            <p class="text-info">...</p>
                            <p class="text-warning">...</p>-->
                            <p class="text-danger">ข้อความแจ้งเตือน</p>

                        </div>

                        <div class="col-md-6">
                            <div class="card">


                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a>
                                            <img class="media-object avatar" src="https://avatars.githubusercontent.com/u/1825798?v=3">
                                        </a>
                                    </div>
                                    <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                        <h4 class="media-heading">นายเกียรติพงศ์ แซ่ตั้ง</h4>
                                        ลูกค้าทั่วไป,ร้านเขื่อนอุบลรัตน์
                                    </div>
                                    <div class="media-right" [ngStyle]="{'padding': '20px 10px'}">

                                        <span class="glyphicon glyphicon-chevron-down"></span>

                                    </div>
                                </div>
                            </div>
                            <!-- end of card -->
                        </div>
                        <!-- end of col-md-6 -->
                    </div>

                </div>


                <div class="col-md-3">
                    <label class="control-label pull-right" for="weight">น้ำหนักเข้า</label>
                    <div class="form-group has-error ">
                        <input type="text" class="form-control input-lg" disabled style="
                                text-align: right;
                                font-size: 35px;
                                font-weight: bold;">
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback" style="top:25px"></span>-->
                    </div>

                            <div class="card">


                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a>
                                            <img class="media-object avatar" src="https://avatars.githubusercontent.com/u/1825798?v=3">
                                        </a>
                                    </div>
                                    <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                        <h4 class="media-heading">นายเกียรติพงศ์ แซ่ตั้ง</h4>
                                        ลูกค้าทั่วไป,ร้านเขื่อนอุบลรัตน์
                                    </div>
                                    <div class="media-right" [ngStyle]="{'padding': '20px 10px'}">

                                        <span class="glyphicon glyphicon-chevron-down"></span>

                                    </div>
                                </div>
                            </div>
                            <!-- end of card -->


                    <div [ngStyle]="{
                            padding: '0.75rem 1.25rem',
                            border: '1px solid rgba(0,0,0,.125)',
                            height: '230px'}">
                    </div>

                </div>
            </div>

        </div>


        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary ">
                        <span class="glyphicon glyphicon-save " aria-hidden="true"></span> บันทึกรถชั่งเข้า</button>
                        <button type="button" class="btn btn-error ">
                        <span class="glyphicon glyphicon-save " aria-hidden="true"></span> ยกเลิก</button>
                    </div>
                </div>

            </div>

        </div>


    </div>
</form>