<form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="card">

        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
        <!--        <span aria-hidden="true">&times;</span>     -->
                <span class="caret"></span>
            </button>

            <h3>บันทึกน้ำหนักรถเข้า</h3>
        </div>

        <div class="card-block">
                {{diagnostic}}

            <div class="row">
                <div class="col-md-9">
                    <!-- row 1 -->
                    <div class="form-group  row">
  
                        <div class="col-md-6">
                            <label for="carId">รถชั่งเข้า</label>
                            <input type="text" class="form-control" 
                                id="carId" required
                                [(ngModel)]="model.carId"
                                name="carId"   
                                #carId="ngModel"
                                placeholder="เลขทะเบียน..."
                                minlength="3"
                                >
                    <!--<br>TODO: remove this: {{spy.className}}
                    <br>{{carId.errors | json}}-->
                        </div>
                        
                    <!-- div detail -->
                        <div [ngStyle]="{'margin-top': '20px'}"  > 
                                
                                <div class="card col-md-6" *ngIf="carId.errors && !carId.pristine ">
                                    <div class="media"  *ngIf="carId.errors.required " >
                                        <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                            <h4 class="media-heading">ข้อมูลไม่ถูกต้อง</h4>
                                            กรุณาใส่ทะเบียนรถ...
                                        </div>           
                                    </div>

                                    <div class="media" *ngIf="carId.errors.minlength " >

                                        <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                            <h4 class="media-heading">ข้อมูลไม่ถูกต้อง</h4>
                                            กรุณาใส่เลขทะเบียนตั้งแต่ {{carId.errors.minlength.requiredLength}} จำนวน
                                        </div>
                                    </div>
                                </div>
<!-- If true value-->
                                <div class="card col-md-6" *ngIf="!carId.errors ">
                                    <div class="media" >
                                        <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                            <h4 class="media-heading">กอ-9555</h4>
                                            ประเภทรถ: เก๋ง
                                        </div>  
                                        <div class="media-right" [ngStyle]="{'padding': '20px 5px'}">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </div>         
                                    </div>
                                </div>

                            </div>
                    </div>
                    <!-- end row 1 -->
                    <!-- row 2 -->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customerId">ลูกค้า</label>
                            <input type="text" class="form-control"
                                id="customerId"
                                [(ngModel)]="model.customerId"
                                name="customerId"   
                                #customerId="ngModel"                             
                                 placeholder="รหัสลูกค้า..."
                                 
                                 #spy>
                                <br>TODO: remove this: {{spy.className}}
                        </div>

                        <div [ngStyle]="{'margin-top': '25px'}"><!-- div detail -->
                            
                            <div class="card col-md-6" *ngIf="customerId.valid">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a>
                                            <img class="media-object avatar" src="https://avatars.githubusercontent.com/u/1825798?v=3">
                                        </a>
                                    </div>
                                    <div class="media-body" [ngStyle]="{'padding-top': '10px'}">
                                        <h4 class="media-heading">นายเกียรติพงศ์ แซ่ตั้ง</h4>
                                        ลูกค้าทั่วไป,ร้านเขื่อนอุบลรัตน์
                                    </div>
                                    <div class="media-right" [ngStyle]="{'padding': '20px 10px'}">

                                        <span class="glyphicon glyphicon-chevron-down"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row 2 -->
                    <!-- row 3 Product ID-->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="product">สินค้า</label>
                            
                            <select name="product" id="product" class="form-control" 
                                    required
                                    [(ngModel)]="model.product"
                                    name="product"   
                                    #product="ngModel"
                            >
                                <option value="" disabled selected>Select your option</option>
                                 <option *ngFor="let p of products" [value]="p">{{p}}</option>
                            </select>
                            
                            <!--<div class="input-group">
                                <input type="text" class="form-control" aria-label="..." 
                                    id="productId"
                                    ngControl = "productId"
                                    placeholder="รหัสสินค้า...">

                                <div class="input-group-btn">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                   
                            </div>-->
                            <!-- /input-group -->
                        </div>

                        <div class="col-md-6">
                          
                        </div>
                        <!-- end of col-md-6 -->
                    </div>
                    <!-- end of row 3: Product ID-->
                </div>

                <!-- weight-->
                <div class="col-md-3">
                    <label class="control-label pull-right" for="weight">น้ำหนักเข้า</label>
                    <div class="form-group has-error ">
                        <input type="text" class="form-control input-lg" style="
                                text-align: right;
                                font-size: 35px;
                                font-weight: bold;"
                                disabled
                                id="weight"
                                    required
                                    [(ngModel)]="model.weightIn"
                                    name="weight"   
                                    #weight="ngModel"
   
                                >
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback" style="top:25px"></span>-->
                    </div>

                </div>
                <!-- end weight-->
            </div>

        </div>


        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <!--Summut button-->
                        <button type="button" class="btn btn-primary" 
                            type="submit"
                            [disabled]="!f.valid"
                            >
                        <span class="glyphicon glyphicon-save " aria-hidden="true"></span> บันทึกรถชั่งเข้า</button>
                        
                        <button type="button" class="btn btn-error "  (click)="onCancel()">
                        ยกเลิก</button>
                    </div>
                </div>

            </div>

        </div>


    </div>
</form>