<form action="">
    <div class="card">

        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
        <!--        <span aria-hidden="true">&times;</span>     -->
                <span class="caret"></span>
            </button>


            <h3>บันทึกน้ำหนักรถเข้า</h3>

        </div>
        <div class="card-block">

            <div class="row">

                <div class="col-md-9">
                    <h4 class="card-title">
                        คำแนะนำ
                    </h4>
                    <p class="text-muted">กรุณาใส่ข้อมูลให้ครบถ้วน</p>
                    <p class="text-primary">...</p>
                    <p class="text-success">...</p>
                    <p class="text-info">...</p>
                    <p class="text-warning">...</p>
                    <p class="text-danger">ข้อความแจ้งเตือน</p>
                </div>
                <div class="col-md-3">
                    <label class="control-label pull-right" for="weight">น้ำหนักเข้า</label>
                    <div class="form-group has-error ">
                        <input type="text" class="form-control input-lg" style="text-align:right;font-size: 35px; font-weight: bold;">
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback" style="top:25px"></span>-->
                    </div>
                </div>
            </div>
            <hr>



            <div class="form-group">
                <label for="carId">รถเข้าชั่ง</label>
                <input type="text" class="form-control" id="firstname" placeholder="เลขทะเบียน">

            </div>
            <div class="form-group">
                <label for="product">Product</label>
                <input type="text" class="form-control" id="product">
            </div>
            <br>
            <div class="form-group">
                <label for="customer">Customer ID</label>
                <input type="text" class="form-control" id="customer">
            </div>

            <div class="form-group">
                <label for="dateTime">Date Time</label>
                <input type="text" class="form-control" id="dateTime">
            </div>
            <div class="form-group">
                <label for="weightingType">Weighting Type</label>
                <input type="text" class="form-control" id="weightingType">
            </div>





        </div>
    </div>
</form>